*{
    margin:0;
    padding:0;
    list-style-type:none;
    word-break:break-all;
    word-wrap:break-word;
    outline:none;
    resize:none;
}

a{
    text-decoration:none;
}
.ca_association_introduce_bottom{
    min-height:320px;
    padding-top:34px;
    width:100%;
    background-color:#2a2a2a;
}
.ca_association_introduce_bottom{
    min-height:320px;
    width:100%;
    color:#979797;
    position:relative;
    padding-left:15px;
    padding-right:15px;
    background-color:#2a2a2a;
    padding-bottom:60px;
}
.ca_bottom_container{
    width:960px;
    position:relative;
    margin:0px auto;
    min-height:240px;
}
@media(max-width: 994px){
    .ca_bottom_container{
        width:100%;
        position:relative;
        margin:0px auto;
        min-height:282px;
    }
}
.ca_bottom_main_study,.ca_bottom_main_friend,.ca_bottom_main_school{
    width:33.333333%;
    min-height:0px;
    float:left;
    display:block;
}
.ca_bottom_ul{
    display:none;
}
@media(max-width: 650px){
    .ca_bottom_main_study,.ca_bottom_main_friend,.ca_bottom_main_school{
        width:33.333333%;
        min-height:0px;
        float:left;
        display:none;
    }
    .ca_bottom_ul{
        display:block;
    }
}
.ca_bottom_welcome{
    font-size:14px;
    height:40px;
    position:relative;
    line-height:20px;
    width:100%;
    color:#666;
}
.am-list > li{
    background-color:#2a2a2a;
    border:none;
}
.am-list > li > a{
    color:#979797;
}
.am-list > li > a:hover{
    color:#169ADA;
}
.ca_bottom_main_container{
    width:100%;
    position:relative;
    height:auto;
}
.ca_bottom_main_ul{
    margin:0px;
    padding:0px;
    font-size: 17px;
}
.ca_bottom_main_ul a{
    cursor:pointer;
    color:#979797;
    font-size:12px;
}
.ca_bottom_main_ul a:hover{
    color:#169ADA;
}
.ca_bottom_record{
    position: absolute;
    top:100%;
    left:0px;
    width:100%;
    min-height:30px;
    font-size: 15px;
    text-align: center;
    line-height: 30px;
}

.am-panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.am-panel > .am-list {
    margin: 0;
}
.am-panel > .am-list > li > a {
    padding-left: 1rem;
    padding-right: 1rem;
}
.am-panel > .am-list-static li {
    padding-left: 1rem;
    padding-right: 1rem;
}
/* Panel group */
.am-panel-group {
    margin-bottom: 2rem;
}
.am-panel-group .am-panel {
    margin-bottom: 0;
    border-radius: 0;
}
.am-panel-group .am-panel + .am-panel {
    margin-top: 6px;
}
.am-panel-group .am-panel-hd {
    border-bottom: 0;
}
.am-panel-group .am-panel-hd + .am-panel-collapse .am-panel-bd {
    border-top: 1px solid #ddd;
}
.am-panel-group .am-panel-footer {
    border-top: 0;
}
.am-panel-group .am-panel-footer + .am-panel-collapse .am-panel-bd {
    border-bottom: 1px solid #ddd;
}
@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 36px 0;
    }
    to {
        background-position: 0 0;
    }
}
@keyframes progress-bar-stripes {
    from {
        background-position: 36px 0;
    }
    to {
        background-position: 0 0;
    }
}
/*  Progress container */
.am-progress {
    overflow: hidden;
    height: 2rem;
    margin-bottom: 2rem;
    background-color: #f5f5f5;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
/* Progress bar */
.am-progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 1.2rem;
    line-height: 2rem;
    color: #fff;
    text-align: center;
    background-color: #0e90d2;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}
